# Exemples de variables pour `docker compose`
# Utilisation conseillée :
# - créer un fichier `.env.local` à partir de celui-ci
# - lancer : `docker compose --env-file .env.local up -d`

# DB / JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_DATASOURCE_USERNAME=lexdata_user
SPRING_DATASOURCE_PASSWORD=CHANGE_ME

# Eureka
EUREKA_ADMIN_PASSWORD=CHANGE_ME
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://admin:${EUREKA_ADMIN_PASSWORD}@lexdata-discovery:8761/eureka/

# JWT
LEXDATA_JWT_SECRET=CHANGE_ME
LEXDATA_APP_JWTSECRET=CHANGE_ME

# RabbitMQ
RABBITMQ_DEFAULT_USER=CHANGE_ME
RABBITMQ_DEFAULT_PASS=CHANGE_ME

# Postgres (sert à configurer l'image Postgres)
POSTGRES_PASSWORD=CHANGE_ME

